<%-contentFor('title')%>Index
<%-contentFor('section')%>
<table class="table table-dark table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th style="width: 40%">Email</th>
        <th>Gender</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Forklein</td>
        <td style="width: 40%">giuseppepisani2@gmail.com</td>
        <td>Male</td>
        <td>Active</td>
      </tr>
    </tbody>
</table>