<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <%- contentFor('body') %>
        <h1>Test</h1>

        <%- contentFor('section') %>
            <h2>Test 2</h2>

            <% test.forEach((element)=>
                { %>
                <li>
                    <%= element.name %>
                </li>
                <li>
                    <%= element.surname %>
                </li>
                <% }) %>
</body>

</html>