@import "bootstrap.min.css";
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.6.0/css/all.min.css");

body {
  background: linear-gradient(#e66465, #9198e5);
  height: 100vh;
}

header {
  height: 60px;
  background-color: rgb(63, 189, 90);
}
