<%-contentFor('title')%>Create
<%-contentFor('section')%>
<form action="/users/create" method="post">
  <div class="mb-3">
    <label for="name" class="form-label">Name</label>
    <input type="text" class="form-control" id="name" name="name">
  </div>
  <div class="mb-3">
    <label for="email" class="form-label">Email</label>
    <input type="email" class="form-control" id="email" name="email">
  </div>
  <div class="mb-3">
    <label for="gender" class="form-label">Name</label>
    <select name="gender" id="gender" class="form-select">
      <option value="male">Male</option>
      <option value="female">Female</option>
    </select>
  </div>
  <div class="mb-3">
    Status
    <div class="form-check">
      <label class="form-check-label" for="active">Active</label>
      <input class="form-check-input" type="radio" name="status" id="active" checked>
    </div>
    <div class="form-check">
      <label class="form-check-label" for="inactive">Inactive</label>
      <input class="form-check-input" type="radio" name="status" id="inactive">
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
  <a href="/users" class="btn btn-primary">Back</a>
</form>